{% extends 'web_app/base.html'  %}
{% load static %}


{% block title %}RightScan{% endblock %}

{% block content %}
<div class="card-base">
    <h1>Заполните поисковый запрос</h1>
</div>
<div class="card-base">
    <form action="" method="post">
        {% csrf_token %}
        <ul>
            {% for field in form %}
            <li>{{ field.label }} {{ field }}</li><br>
            {% endfor %}
        </ul>
        <div>
            <button type="submit" value="тип запроса">отправить запрос</button>
            |
            <button type="reset">очистить форму</button>
        </div>
    </form>
</div>
{% endblock %}